[package]
name = "raidan"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true

[dependencies]
anyhow.workspace = true
clap.workspace = true
rand.workspace = true
tokio.workspace = true
