[package]
name = "noiruzz"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true

[dependencies]
alloy.workspace = true
anyhow.workspace = true
fuzztools.workspace = true
rand.workspace = true
